<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css">
    <script src="../../static/js/image.js"></script>
    <title>Бібліотека ляпів</title>
</head>
<body>
    <main>
        <span class="proj-name"><a href="/">Бібліотека науково-технічних ляпів у фільмах</a></span>
        <span class="proj-author">Створено <a href="https://anderskiy.info/" target="_blank" rel="noopener noreferrer">@Anderskiy</a></span>
        <nav>
            <div class="nav-back-main">
                <ul>
                    <li><a href="/about/">Про проєкт</a></li>
                    <li><a href="/updates/">Оновлення</a></li>
                    <li><a href="/resources/">Ресурси</a></li>
                    <li><a href="/help/">Допомога</a></li>
                </ul>
            </div>
            <div class="nav-back-lang-top">
                <span class="nav-back-lang-top-text">Оберіть мову</span>
            </div>
            <div class="nav-back-lang">
                <ul>
                    <li><a href="/set_language/ua"><img src="../../static/img/ukraine.png" alt="🇺🇦" width="39" height="26"></a></li>
                    <li><a href="/set_language/uk"><img src="../../static/img/united.png" alt="🇬🇧" width="39" height="26"></a></li>
                </ul>
            </div>
            <div class="nav-back-right"></div>
        </nav>
        <div class="content">
            <span class="content-title">Армагедон</span>
            <span class="film-link content-title"><a href="https://www.imdb.com/title/tt0120591/?ref_=ext_shr_lnk" target="_blank" rel="noopener noreferrer">Посилання на фільм</a></span>
            <span class="film-desc">Характеристика:</span>
            <div class="film-desc-container">
                <span class="film-desc-desc">Дата прем’ери: 30 травня 1998р.</span>
                <span class="film-desc-desc">Країна: США</span>
                <span class="film-desc-desc">Режисер: Майкл Бей</span>
            </div>
            <span class="film-title">Ляпи (гріхи):</span>
            <ol class="film-ol">
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">03:24</span> Оглушливий гуркіт і шум у вакуумі</span><br>
                    <span class="film-li-s">Поясненя: Звук покладається на атоми і молекули, щоб переносити свої хвилі, але у вакуумі космосу, де немає цих частинок, звук не може подорожувати.<br></span>
                    <img src="../../static/img/armageddon/gaffe1.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">07:00</span> Вибух за метр від людини навіть не зачепив її</span><br>
                    <span class="film-li-s">Вибух, що відкинув убік цілий автомобіль, мав розірвати його на шматочки, але навіть не подряпав.<br></span>
                    <img src="../../static/img/armageddon/gaffe2.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">07:50</span> Астероїди літять за різними траєкторіями</span><br>
                    <span class="film-li-s">Усі астероїди мають падати в одному напрямку, але летять на землю наче потрапили з різних точок галактики.<br></span>
                    <img src="../../static/img/armageddon/gaffe3.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">07:50</span> Метеоритний дощ подорожує в часі</span><br>
                    <span class="film-li-s">Метеоритний дощ знищив супутник о 4-й годині ночі, а на Нью-Йорк завалився вже вранці, де він подорожував кілька годин?<br></span>
                    <img src="../../static/img/armageddon/gaffe4.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">23:57</span> Неточності у фільму NASA</span><br>
                    <span class="film-li-s">У фільмі йшлося: «коли ця літаюча комета перетнула ядро астероїдів - у наш бік полетіла шрапнель».<br>Якби в кільці астероїдів було небесне тіло розміром із Техас, його б давно помітили і відркнули багато років тому, а не на моменті у фільмі.  По-друге, ядро комети - це шматок льоду кілометрів 15, який би просто розбився, розбився б об такий астероїд майже не змінивши його траєкторію.<br>По-третє, немає пояснення, чому маленькі образи, що утворилися під час удару комети разом із великим астероїдом, прилетіли до землі на 3 тижні раніше, а також чому вони йдуть хвилями, бо вони повинні сипатися рівномірно.<br></span>
                    <img src="../../static/img/armageddon/gaffe5.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">24:50</span> Неправильна форма астероїдів</span><br>
                    <span class="film-li-s">Астероїди великих розмірів являють собою правильні кулі, а не хрень нестерпної форми із щербинами.<br></span>
                    <img src="../../static/img/armageddon/gaffe6.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">29:00</span> Телепортація людей у просторі</span><br>
                    <span class="film-li-s">Учора люди Стемблера працювали на платформі в Південно-Китайському морі, сьогодні вони вже телепортувалися на протилежний бік земної кулі та роз'їхалися по всій Америці.<br></span>
                    <img src="../../static/img/armageddon/gaffe7.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">38:11</span> Інша дія ліків</span><br>
                    <span class="film-li-s">Кетамін звичайне знеболювальне, але в цьому фільмі тільки для коней, аж ніяк не для людей.<br></span>
                    <img src="../../static/img/armageddon/gaffe8.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">41:34</span> Горінння без кисню</span><br>
                    <span class="film-li-s">Судячи з колевалу, призначений для роботи у вакуумі транспортер оснащений двигуном внутрішнього згоряння. Для його роботи потрібен кисень, який відсутній у космосі.<br></span>
                    <img src="../../static/img/armageddon/gaffe9.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">43:28</span> У Голлівуді літають на чистому кисні, водень їм без потреби</span><br>
                    <span class="film-li-s">Кисень сам по собі не є паливом для ракет, а є окислювачем. У космічних польотах для створення тяги потрібно як паливо, так і окислювач. Найчастіше використовують комбінації, такі як рідкий водень (паливо) і рідкий кисень (окислювач).<br></span>
                    <img src="../../static/img/armageddon/gaffe10.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">45:00</span> Виверження на астероїді</span><br>
                    <span class="film-li-s">Астероїди мають занадто малу масу і силу тяжіння, щоб утримувати атмосферу і газові тиски, необхідні для вулканічної активності. Крім того, більшість астероїдів складаються з каменю і металу, а не з магматичних порід, що унеможливлює утворення лави і вулканів.<br></span>
                    <img src="../../static/img/armageddon/gaffe11.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">45:28</span> Підбиття підсумків плану NASA</span><br>
                    <span class="film-li-s">По-перше, всіх бомб світу не вистачить щоб розколоти небесне тіло як Техас<br> По-друге, астероїд розлетиться на тисячу дрібних шматочків різних розмірів, а не на 2 половини.<br> По-третє, щоб підірвати астероїд, потрібно помістити заряд у його середину. Свердловина має бути близько 500км у глибину, а не 250м - як показано у фільмі.<br></span>
                    <img src="../../static/img/armageddon/gaffe12.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:04:14</span>Однаковий час в Америці та Европі</span><br>
                    <span class="film-li-s">Ці два континента знаходяться у різних часових поясах, і у той час, як в Нью-Йорку ранок, у Києві день.<br></span>
                    <img src="../../static/img/armageddon/gaffe13.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:08:28</span> Різниця у часі</span><br>
                    <span class="film-li-s">Старт (зліт шатлів) відбувся о 18 годині 30 хвилин, а на кадрі час більше схожий на 2 годину ночі.<br></span>
                    <img src="../../static/img/armageddon/gaffe14.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:12:10</span> Сила тяжіння різна у кадрі і в реальній ситуації</span><br>
                    <span class="film-li-s">Російська космічна станція обертається навколо поздовжньої осі, що означає, що напрямок відцентрової сили в бік шатлів і невагомість у центральному тунелі, але в наступному кадрі сила тяжіння спрямована точно до підлоги і рівномірна по всій станції.</span>
                    <img src="../../static/img/armageddon/gaffe15.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:12:45</span> Космічна станція утримує шатли не утримуючи їх</span><br>
                    <span class="film-li-s">Пристиковані до космічної станції шатли не відлітають до космосу, хоча вони ні на чому не тримаються.<br></span>
                    <img src="../../static/img/armageddon/gaffe16.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:13:26</span> Росіянин ходить після невагомості</span><br>
                    <span class="film-li-s">Андропов ходить як ні в чому не бувало після півтора року, проведених у несамостійності, за цей час тіло просто відвикне від цього.<br></span>
                    <img src="../../static/img/armageddon/gaffe17.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:19:00</span> Бурульки на космічній станції</span><br>
                    <span class="film-li-s">У приміщенні холодно, а отже, на думку режисера, там мають утворюватися бурульки, навіть якщо вони в принципі не можуть утворюватися за температури -100 та ще й у невагомості.<br></span>
                    <img src="../../static/img/armageddon/gaffe18.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:22:24</span> Гарний стан при 10 G</span><br>
                    <span class="film-li-s">Звичайна людина за перевантажень 10 G не те що не може говорити, вона взагалі непритомніє, а персонажі розмовляють так, ніби нічого не сталося.<br></span>
                    <img src="../../static/img/armageddon/gaffe19.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:31:27</span> Вогонь на астероїді</span><br>
                    <span class="film-li-s">Судячи по вогню, на астероїді там є насичена киснем атмосфера.<br></span>
                    <img src="../../static/img/armageddon/gaffe20.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:34:36</span> Не туди сверлять</span><br>
                    <span class="film-li-s">Замість того щоб поставити бур вертикально, герої з незрозумілої причини свердлять астероїд під кутом 45 градусів<br></span>
                    <img src="../../static/img/armageddon/gaffe21.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:36:18</span> Корпус шатла товщиною з папір</span><br>
                    <span class="film-li-s">Корпус шаттла не може бути товщиною як папір, тому що він повинен витримувати екстремальні температури і тиск під час запуску і re-entry (входу в атмосферу). Товщина стінок забезпечує необхідну міцність і теплоізоляцію, запобігаючи перегріву і руйнуванню конструкції. Використовувані матеріали, такі як композити і жароміцні сплави, мають високу міцність і термостійкість, що неможливо за товщини, порівнянної з папером.<br></span>
                    <img src="../../static/img/armageddon/gaffe22.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:39:16</span> Гравітація як на землі</span><br>
                    <span class="film-li-s">Навіть якщо поверхнею астероїда в 1/20 з земною, астронавти могли ходити за допомогою механізмів, немає жодного пояснення, чому всередині шатла земна гравітація.<br></span>
                    <img src="../../static/img/armageddon/gaffe23.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:46:23</span> Зв'язок та автономний таймер</span><br>
                    <span class="film-li-s">Порушення зв'язку із супутником ніяк не зупинить автономний таймер.<br></span>
                    <img src="../../static/img/armageddon/gaffe24.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:54:55</span> Транспортер йде чітко до астероїда</span><br>
                    <span class="film-li-s">Якщо транспортер обертається, двигуни в даху мають штовхати його на всі боки одразу, а не чітко до астероїда.<br></span>
                    <img src="../../static/img/armageddon/gaffe25.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:55:50</span> Трава у космосі</span><br>
                    <span class="film-li-s">У кадрі на астероїді помітно як росте трава, однак у космосі вона не може існувати, бо відсутній кисень.<br></span>
                    <img src="../../static/img/armageddon/gaffe26.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">2:05:08</span> Виверження на астероїді</span><br>
                    <span class="film-li-s">Звідки на астероїді виверження? Вище вже розповідалося чому це абсурд.<br></span>
                    <img src="../../static/img/armageddon/gaffe27.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">2:19:08</span> Вибух неприродної форми</span><br>
                    <span class="film-li-s">Яким чином сила від вибуху схожа на двох злиплих медуз. Ще жодного разу ніде такої форми не було.<br></span>
                    <img src="../../static/img/armageddon/gaffe28.png" class="film-li-image" alt="gaffe image">
                </li>
            </ol>
        </div>
    </main>
</body>
</html>