<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css">
    <script src="../../static/js/image.js"></script>
    <title>Library of gaffes</title>
</head>
<body>
    <main>
        <span class="proj-name"><a href="/">Library of scientific and technical gaffes in movies</a></span>
        <span class="proj-author">Create by <a href="https://anderskiy.info/" target="_blank" rel="noopener noreferrer">@Anderskiy</a></span>
        <nav>
            <div class="nav-back-main">
                <ul>
                    <li><a href="/about/">About project</a></li>
                    <li><a href="/updates/">Updates</a></li>
                    <li><a href="/resources/">Resources</a></li>
                    <li><a href="/help/">Help</a></li>
                </ul>
            </div>
            <div class="nav-back-lang-top">
                <span class="nav-back-lang-top-text">Change language</span>
            </div>
            <div class="nav-back-lang">
                <ul>
                    <li><a href="/set_language/ua"><img src="../../static/img/ukraine.png" alt="🇺🇦" width="39" height="26"></a></li>
                    <li><a href="/set_language/uk"><img src="../../static/img/united.png" alt="🇬🇧" width="39" height="26"></a></li>
                </ul>
            </div>
            <div class="nav-back-right"></div>
        </nav>
        <div class="content">
            <span class="content-title">Armageddon</span>
            <span class="film-link content-title"><a href="https://www.imdb.com/title/tt0120591/?ref_=ext_shr_lnk" target="_blank" rel="noopener noreferrer">Link to the movie</a></span>
            <span class="film-desc">Characteristics:</span>
            <div class="film-desc-container">
                <span class="film-desc-desc">Premiere date: May 30, 1998.</span>
                <span class="film-desc-desc">Country: USA</span>
                <span class="film-desc-desc">Director: Michael Bay</span>
            </div>
            <span class="film-title">Gaffes (sins):</span>
            <ol class="film-ol">
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">03:24</span> Deafening roar and noise in a vacuum</span><br>
                    <span class="film-li-s">Explanation: Sound relies on atoms and molecules to carry its waves, but in the vacuum of space, where these particles are not present, sound cannot travel.<br></span>
                    <img src="../../static/img/armageddon/gaffe1.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">07:00</span> The explosion did not even hit a person a meter away</span><br>
                    <span class="film-li-s">The explosion, which threw the whole car to the side, should have torn it to pieces, but it didn't even scratch it.<br></span>
                    <img src="../../static/img/armageddon/gaffe2.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">07:50</span> Asteroids follow different trajectories</span><br>
                    <span class="film-li-s">All asteroids are supposed to fall in the same direction, but they hit the Earth as if they came from different parts of the galaxy.<br></span>
                    <img src="../../static/img/armageddon/gaffe3.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">07:50</span> Meteor shower travels in time</span><br>
                    <span class="film-li-s">Did the meteor shower destroy the satellite at 4 a.m. and hit New York in the morning, where it had been traveling for several hours?<br></span>
                    <img src="../../static/img/armageddon/gaffe4.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">23:57</span> Неточності у фільму NASA</span><br>
                    <span class="film-li-s">The movie reads: “when this flying comet crossed the asteroid core, shrapnel flew in our direction.”<br>If there were a celestial body the size of Texas in the asteroid ring, it would have been noticed and detected many years ago, not at the moment in the movie. Secondly, the comet's nucleus is a piece of ice about 15 kilometers long, which would simply break, crash into such an asteroid with little or no change in its trajectory.<br>Thirdly, there is no explanation for why the small images formed during the comet's impact with the large asteroid arrived 3 weeks earlier, and why they come in waves, as they should fall evenly.<br></span>
                    <img src="../../static/img/armageddon/gaffe5.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">24:50</span> Irregular shape of asteroids</span><br>
                    <span class="film-li-s">Large asteroids are regular spheres, not obnoxiously shaped crap with jagged edges.<br></span>
                    <img src="../../static/img/armageddon/gaffe6.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">29:00</span> Teleportation of people in space</span><br>
                    <span class="film-li-s">Yesterday, Stambler's people were working on a platform in the South China Sea, today they have already teleported to the opposite side of the globe and traveled all over the Americas.<br></span>
                    <img src="../../static/img/armageddon/gaffe7.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">38:11</span> Other effects of the drug</span><br>
                    <span class="film-li-s">Ketamine is a common painkiller, but in this movie it's only for horses, not for humans.<br></span>
                    <img src="../../static/img/armageddon/gaffe8.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">41:34</span> Burning without oxygen</span><br>
                    <span class="film-li-s">Judging by the crankshaft, the conveyor is equipped with an internal combustion engine to operate in a vacuum. It requires oxygen, which is not available in space.<br></span>
                    <img src="../../static/img/armageddon/gaffe9.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">43:28</span> In Hollywood, they fly on pure oxygen, they don't need hydrogen</span><br>
                    <span class="film-li-s">Oxygen itself is not a rocket fuel, but an oxidizer. In space flight, both fuel and oxidizer are required to create thrust. Most often, combinations are used, such as liquid hydrogen (fuel) and liquid oxygen (oxidizer).<br></span>
                    <img src="../../static/img/armageddon/gaffe10.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">45:00</span> Eruption on an asteroid</span><br>
                    <span class="film-li-s">Asteroids have too little mass and gravity to hold the atmosphere and gas pressures necessary for volcanic activity. In addition, most asteroids are composed of stone and metal, not igneous rocks, which makes it impossible for them to form lava and volcanoes.<br></span>
                    <img src="../../static/img/armageddon/gaffe11.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">45:28</span> Summarizing the results of NASA's plan</span><br>
                    <span class="film-li-s">Firstly, all the bombs in the world will not be enough to split a celestial body like Texas<br> Secondly, the asteroid will break into a thousand small pieces of different sizes, not into 2 halves.<br> Third, to blow up an asteroid, you need to place a charge inside it. The well should be about 500km deep, not 250m as shown in the movie.<br></span>
                    <img src="../../static/img/armageddon/gaffe12.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:04:14</span>The same time in America and Europe</span><br>
                    <span class="film-li-s">The two continents are in different time zones, and while it's morning in New York, it's daytime in Kyiv.<br></span>
                    <img src="../../static/img/armageddon/gaffe13.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:08:28</span> Time difference</span><br>
                    <span class="film-li-s">The start (takeoff) of the shuttles took place at 18:30, but the time on the video looks more like 2 a.m.<br></span>
                    <img src="../../static/img/armageddon/gaffe14.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:12:10</span> The force of gravity is different in the frame and in a real situation</span><br>
                    <span class="film-li-s">The Russian space station is rotating around its longitudinal axis, which means that the direction of centrifugal force is towards the shuttles and weightlessness in the central tunnel, but in the next shot, gravity is directed exactly towards the floor and is uniform throughout the station.</span>
                    <img src="../../static/img/armageddon/gaffe15.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:12:45</span> The space station holds the shuttles without holding them</span><br>
                    <span class="film-li-s">The shuttles docked to the space station do not fly off into space, even though they are not supported by anything.<br></span>
                    <img src="../../static/img/armageddon/gaffe16.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:13:29</span> A Russian man walks after zero gravity</span><br>
                    <span class="film-li-s">Andropov walks as if nothing had happened after a year and a half spent in a wheelchair, during which time his body will simply get used to it.<br></span>
                    <img src="../../static/img/armageddon/gaffe17.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:19:00</span> Icicles on the space station</span><br>
                    <span class="film-li-s">The room is cold, which means that, according to the director, icicles should form there, even though they cannot form at a temperature of -100 and in zero gravity.<br></span>
                    <img src="../../static/img/armageddon/gaffe18.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:22:24</span> Normal state at 10 G</span><br>
                    <span class="film-li-s">An average person at 10 G overloads not only can't speak, they faint, but the characters talk as if nothing had happened.<br></span>
                    <img src="../../static/img/armageddon/gaffe19.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:31:27</span> Fire on an asteroid</span><br>
                    <span class="film-li-s">Judging by the fire, the asteroid has an oxygenated atmosphere.<br></span>
                    <img src="../../static/img/armageddon/gaffe20.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:34:36</span> Drilling in the wrong place</span><br>
                    <span class="film-li-s">Instead of placing the drill vertically, the heroes inexplicably drill the asteroid at a 45-degree angle<br></span>
                    <img src="../../static/img/armageddon/gaffe21.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:36:18</span> Shuttle body as thick as paper</span><br>
                    <span class="film-li-s">The shuttle body cannot be as thick as paper because it must withstand extreme temperatures and pressures during launch and re-entry. The wall thickness provides the necessaryідну міцність і теплоізоляцію, запобігаючи перегріву і руйнуванню конструкції. Використовувані матеріали, такі як композити і жароміцні сплави, мають високу міцність і термостійкість, що неможливо за товщини, порівнянної з папером.<br></span>
                    <img src="../../static/img/armageddon/gaffe22.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:39:16</span> Gravity as on earth</span><br>
                    <span class="film-li-s">Even if the asteroid's surface is 1/20 of the Earth's, the astronauts could walk with the help of mechanisms, there is no explanation why the shuttle has Earth's gravity inside.<br></span>
                    <img src="../../static/img/armageddon/gaffe23.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:46:23</span> Communication and offline timer</span><br>
                    <span class="film-li-s">The loss of communication with the satellite will not stop the autonomous timer.<br></span>
                    <img src="../../static/img/armageddon/gaffe24.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:54:55</span> The transporter is heading straight for the asteroid</span><br>
                    <span class="film-li-s">If the transporter is rotating, the engines in the roof should push it in all directions at once, not strictly toward the asteroid.<br></span>
                    <img src="../../static/img/armageddon/gaffe25.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">1:55:50</span> Grass in space</span><br>
                    <span class="film-li-s">In the shot, you can see grass growing on the asteroid, but it cannot exist in space because there is no oxygen.<br></span>
                    <img src="../../static/img/armageddon/gaffe26.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">2:05:08</span> Eruption on an asteroid</span><br>
                    <span class="film-li-s">Why would an asteroid erupt? We have already explained why this is absurd.<br></span>
                    <img src="../../static/img/armageddon/gaffe27.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">2:19:08</span> An unnatural explosion</span><br>
                    <span class="film-li-s">How the force from the explosion looks like two jellyfish stuck together. I have never seen such a shape anywhere else.<br></span>
                    <img src="../../static/img/armageddon/gaffe28.png" class="film-li-image" alt="gaffe image">
                </li>
            </ol>
        </div>
    </main>
</body>
</html>