<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-32">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css">
    <script src="../../static/js/image.js"></script>
    <title>Бібліотека ляпів</title>
</head>
<body>
    <main>
        <span class="proj-name"><a href="/">Бібліотека науко-технічних ляпів у фільмах</a></span>
        <span class="proj-author">Створено <a href="https://anderskiy.info/" target="_blank" rel="noopener noreferrer">@Anderskiy</a></span>
        <nav>
            <div class="nav-back-main">
                <ul>
                    <li><a href="/about/">Про проєкт</a></li>
                    <li><a href="/updates/">Оновлення</a></li>
                    <li><a href="/resources/">Ресурси</a></li>
                    <li><a href="/help/">Допомога</a></li>
                </ul>
            </div>
            <div class="nav-back-lang-top">
                <span class="nav-back-lang-top-text">Оберіть мову</span>
            </div>
            <div class="nav-back-lang">
                <ul>
                    <li><a href="/set_language/ua"><img src="../../static/img/ukraine.png" alt="🇺🇦" width="39" height="26"></a></li>
                    <li><a href="/set_language/uk"><img src="../../static/img/united.png" alt="🇬🇧" width="39" height="26"></a></li>
                </ul>
            </div>
            <div class="nav-back-right"></div>
        </nav>
        <div class="content">
            <span class="content-title">Армагедон</span>
            <span class="film-link content-title"><a href="https://www.imdb.com/title/tt0120591/?ref_=ext_shr_lnk" target="_blank" rel="noopener noreferrer">Посилання на фільм</a></span>
            <span class="film-desc">Характеристика:</span>
            <div class="film-desc-container">
                <span class="film-desc-desc">Дата прем’ери: 30 травня 1998р.</span>
                <span class="film-desc-desc">Країна: США</span>
                <span class="film-desc-desc">Режисер: Майкл Бей</span>
            </div>
            <span class="film-title">Ляпи(гріхи):</span>
            <ol class="film-ol">
                <li class="film-li">
                    <span class="film-li-b"><span onmouseover="showImage(this)" onmouseout="hideImage(this)">00:23</span> Оглушливий гуркіт і шум у вакуумі</span><br>
                    <span class="film-li-s">Поясненя: Звук покладається на атоми і молекули, щоб переносити свої хвилі, але у вакуумі космосу, де немає цих частинок, звук не може подорожувати.<br></span>
                    <img src="../../static/img/gaffe1.png" class="film-li-image" alt="gaffe image">
                </li>
                <li class="film-li"><span class="film-li-b">00:48 Вибух за метр від людини навіть не зачепив її</span><br><span class="film-li-s">Пояснення: Вибух, що відкинув убік цілий автомобіль, мав розірвати його на шматочки, але навіть не подряпав.<br></span></li>
                <li class="film-li"><span class="film-li-b">01:00 Астероїди літять за різними тракторіями</span><br><span class="film-li-s">Пояснення: Усі астероїди мають падати в одному напрямку, але летять на землю наче потрапили з різних точок галактики.<br></span></li>
                <li class="film-li"><span class="film-li-b">01:07 Метеоритний дощ подорожує в часі</span><br><span class="film-li-s">Пояснення: Метеоритний дощ знищив супутник о 4-й годині ночі, а на Нью-Йорк обрушився вже вранці, де він подорожував кілька годин?<br></span></li>
                <li class="film-li"><span class="film-li-b">02:50 Неточності у фільму NASA</span><br><span class="film-li-s">Пояснення: У фільмі йшлося: «коли ця літаюча комета перетнула ядро астероїдів - у наш бік полетіла шрапнель».<br>Якби в кільці астероїдів було небесне тіло розміром із Техас, його б давно помітили і відркнули багато років тому, а не на моменті у фільмі.  По-друге, ядро комети - це шматок льоду кілометрів 15, який би просто розбився, розбився б об такий астероїд майже не змінивши його траєкторію.<br>По-третє, немає пояснення, чому маленькі образи, що утворилися під час удару комети разом із великим астероїдом, прилетіли до землі на 3 тижні раніше, а також чому вони йдуть хвилями, бо вони повинні сипатися рівномірно.<br></span></li>
                <li class="film-li"><span class="film-li-b">03:31 Неправильна форма астероїдів</span><br><span class="film-li-s">Пояснення: Астероїди великих розмірів являють собою правильні кулі, а не хрень нестерпної форми із щербинами.<br></span></li>
                <!--<li class="film-li"><span class="film-li-b"> </span><br><span class="film-li-s"> </span></li> -->
            </ol>
        </div>
    </main>
</body>
</html>