<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <title>Library of gaffes</title>
</head>
<body>
    <main>
        <span class="proj-name"><a href="/">Library of scientific and technical gaffes in movies</a></span>
        <span class="proj-author">Create by <a href="https://anderskiy.info/" target="_blank" rel="noopener noreferrer">@Anderskiy</a></span>
        <nav>
            <div class="nav-back-main">
                <ul>
                    <li><a href="/about/">About project</a></li>
                    <li><a href="/updates/">Updates</a></li>
                    <li><a href="/resources/">Resources</a></li>
                    <li><a href="/help/">Help</a></li>
                </ul>
            </div>
            <div class="nav-back-lang-top">
                <span class="nav-back-lang-top-text">Change language</span>
            </div>
            <div class="nav-back-lang">
                <ul>
                    <li><a href="/set_language/ua"><img src="../static/img/ukraine.png" alt="🇺🇦" width="39" height="26"></a></li>
                    <li><a href="/set_language/uk"><img src="../static/img/united.png" alt="🇬🇧" width="39" height="26"></a></li>
                </ul>
            </div>
            <div class="nav-back-right"></div>
        </nav>
        <div class="content">
            <span class="content-title">Help</span>
            <form class="help-form" action="/submit_help" method="POST" onsubmit="return showSuccessMessage()">
                <div class="form-group">
                    <label for="subject">Topic of the appeal:</label>
                    <input type="text" id="subject" name="subject" placeholder="Enter the topic" required>
                </div>
                <div class="form-group">
                    <label for="message">Your appeal:</label>
                    <textarea id="message" name="message" placeholder="Enter your message" rows="5" required></textarea>
                </div>
                <div class="form-actions">
                    <button type="submit">Confirm</button>
                </div>
                <span id="success-message" class="success-message">Message sent successfully</span>
            </form>
        </div>
    </main>
</body>
<script>
    function showSuccessMessage() {
        const successMessage = document.getElementById('success-message');
        successMessage.style.display = 'block';

        document.getElementById('subject').value = '';
        document.getElementById('message').value = '';

        setTimeout(function() {
            successMessage.style.display = 'none';
        }, 4000);

        return true;
    }
</script>
</html>