<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-32">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <title>Library of gaffes</title>
</head>
<body>
    <main>
        <span class="proj-name"><a href="/">Library of scientific and technical gaffes in movies</a></span>
        <span class="proj-author">Create by <a href="https://anderskiy.info/" target="_blank" rel="noopener noreferrer">@Anderskiy</a></span>
        <nav>
            <div class="nav-back-main">
                <ul>
                    <li><a href="/about/">About project</a></li>
                    <li><a href="/updates/">Updates</a></li>
                    <li><a href="/resources/">Resources</a></li>
                    <li><a href="/help/">Help</a></li>
                </ul>
            </div>
            <div class="nav-back-lang-top">
                <span class="nav-back-lang-top-text">Change language</span>
            </div>
            <div class="nav-back-lang">
                <ul>
                    <li><a href="/set_language/ua"><img src="../static/img/ukraine.png" alt="🇺🇦" width="39" height="26"></a></li>
                    <li><a href="/set_language/uk"><img src="../static/img/united.png" alt="🇬🇧" width="39" height="26"></a></li>
                </ul>
            </div>
            <div class="nav-back-right"></div>
        </nav>
        <div class="content">
            <span class="content-title">Movie list</span>
            <div class="films-container">
                <div class="films-block">
                    <img src="../static/img/armageddon.png" alt="armegeddon" width="150" height="142">
                    <span class="films-block-text">Armageddon</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/2012.png" alt="2012" width="150" height="142">
                    <span class="films-block-text">2012</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/angelsdemons.png" alt="angelsanddemons" width="150" height="142">
                    <span class="films-block-text">Angels & Demons</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/martian.png" alt="martian" width="150" height="142">
                    <span class="films-block-text">Martian</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/speed.png" alt="speed" width="150" height="142">
                    <span class="films-block-text">Speed</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/indianajones.png" alt="indianajones" width="150" height="142">
                    <span class="films-block-text">Indiana Jones</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>