<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-32">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <title>Бібліотека ляпів</title>
</head>
<body>
    <main>
        <span class="proj-name"><a href="/">Бібліотека науко-технічних ляпів у фільмах</a></span>
        <span class="proj-author">Створено <a href="https://anderskiy.info/" target="_blank" rel="noopener noreferrer">@Anderskiy</a></span>
        <nav>
            <div class="nav-back-main">
                <ul>
                    <li><a href="/about/">Про проєкт</a></li>
                    <li><a href="/updates/">Оновлення</a></li>
                    <li><a href="/resources/">Ресурси</a></li>
                    <li><a href="/help/">Допомога</a></li>
                </ul>
            </div>
            <div class="nav-back-lang-top">
                <span class="nav-back-lang-top-text">Оберіть мову</span>
            </div>
            <div class="nav-back-lang">
                <ul>
                    <li><a href="/set_language/ua"><img src="../static/img/ukraine.png" alt="🇺🇦" width="39" height="26"></a></li>
                    <li><a href="/set_language/uk"><img src="../static/img/united.png" alt="🇬🇧" width="39" height="26"></a></li>
                </ul>
            </div>
            <div class="nav-back-right"></div>
        </nav>
        <div class="content">
            <span class="content-title">Перелік фільмів</span>
            <div class="films-container">
                <div class="films-block">
                    <img src="../static/img/armageddon.png" alt="armageddon" width="150" height="142">
                    <span class="films-block-text"><a href="/films/armageddon">Армагедон</a></span>
                </div>
                <div class="films-block">
                    <img src="../static/img/2012.png" alt="2012" width="150" height="142">
                    <span class="films-block-text">2012</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/angelsdemons.png" alt="angelsanddemons" width="150" height="142">
                    <span class="films-block-text">Ангели і демони</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/martian.png" alt="martian" width="150" height="142">
                    <span class="films-block-text">Марсіанин</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/speed.png" alt="speed" width="150" height="142">
                    <span class="films-block-text">Швидкість</span>
                </div>
                <div class="films-block">
                    <img src="../static/img/indianajones.png" alt="indianajones" width="150" height="142">
                    <span class="films-block-text">Пригоди Індіана Джонса</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>