<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <title>Бібліотека ляпів</title>
</head>
<body>
    <main>
        <span class="proj-name"><a href="/">Бібліотека науково-технічних ляпів у фільмах</a></span>
        <span class="proj-author">Створено <a href="https://anderskiy.info/" target="_blank" rel="noopener noreferrer">@Anderskiy</a></span>
        <nav>
            <div class="nav-back-main">
                <ul>
                    <li><a href="/about/">Про проект</a></li>
                    <li><a href="/updates/">Оновлення</a></li>
                    <li><a href="/resources/">Ресурси</a></li>
                    <li><a href="/help/">Допомога</a></li>
                </ul>
            </div>
            <div class="nav-back-lang-top">
                <span class="nav-back-lang-top-text">Оберіть мову</span>
            </div>
            <div class="nav-back-lang">
                <ul>
                    <li><a href="/set_language/ua"><img src="../static/img/ukraine.png" alt="🇺🇦" width="39" height="26"></a></li>
                    <li><a href="/set_language/uk"><img src="../static/img/united.png" alt="🇬🇧" width="39" height="26"></a></li>
                </ul>
            </div>
            <div class="nav-back-right"></div>
        </nav>
        <div class="content">
            <span class="content-title">Оновлення</span>
            <ul class="updates-ul">
                <li class="updates-li">20.09.2024: Ведеться розробка сайту</li>
                <li class="updates-li">25.09.2024: Додано фільм Армагедон</li>
                <li class="updates-li">Скоро...</li>
            </ul>
        </div>
    </main>
</body>
</html>